.profile__edit-button {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/sprint-4-images/Edit\ Button.svg);
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 18px;
}

.profile__edit-button:hover {
  opacity: 0.5;
}
