.popup__button {
  justify-content: center;
  display: flex;
  align-items: center;
  border: 0;
  background-color: black;
  color: white;
  width: 358px;
  height: 50px;
  margin-top: 18px;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
